USE [master]
GO
/****** Object:  Database [ProjectManagementSystemDb]    Script Date: 23/02/2019 11:39:31 ******/
CREATE DATABASE [ProjectManagementSystemDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjectManagementSystemDb', FILENAME = N'G:\Microsoft SQL server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ProjectManagementSystemDb.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ProjectManagementSystemDb_log', FILENAME = N'G:\Microsoft SQL server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ProjectManagementSystemDb_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjectManagementSystemDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjectManagementSystemDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 23/02/2019 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AssignUsers]    Script Date: 23/02/2019 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[ActionBy] [int] NOT NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AssignUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Comments]    Script Date: 23/02/2019 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[TaskId] [int] NOT NULL,
	[CommentDescription] [nvarchar](max) NOT NULL,
	[ActionById] [int] NOT NULL,
	[ActionTime] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Comments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Designations]    Script Date: 23/02/2019 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Designations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FileUrls]    Script Date: 23/02/2019 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileUrls](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[FileName] [nvarchar](max) NULL,
	[FileLocation] [nvarchar](max) NULL,
	[ActionBy] [int] NOT NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.FileUrls] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProjectDetails]    Script Date: 23/02/2019 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectCode] [nvarchar](max) NULL,
	[ProjectName] [nvarchar](max) NOT NULL,
	[CodeName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[StartDate] [nvarchar](max) NOT NULL,
	[EndDate] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[ActionBy] [int] NOT NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ProjectDetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 23/02/2019 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[DueDate] [nvarchar](max) NOT NULL,
	[Priority] [nvarchar](max) NOT NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
	[AssignedById] [int] NOT NULL,
	[AssignedToId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Tasks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/02/2019 11:39:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](10) NOT NULL,
	[DesignationId] [int] NOT NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Designations] ON 

INSERT [dbo].[Designations] ([Id], [Name]) VALUES (1, N'IT Admin')
INSERT [dbo].[Designations] ([Id], [Name]) VALUES (2, N'Project Manager')
INSERT [dbo].[Designations] ([Id], [Name]) VALUES (3, N'Team Lead')
SET IDENTITY_INSERT [dbo].[Designations] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [Status], [DesignationId], [ActionBy], [ActionDone], [ActionTime]) VALUES (1, N'Irfat', N'irfat@gmail.com', N'irfat@gmail.com123', N'Active', 1, N'IT Admin', N'INSERTED', N'11/02/2019 13:55:00')
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [Status], [DesignationId], [ActionBy], [ActionDone], [ActionTime]) VALUES (2, N'Mahmood', N'mahmood@gmail.com', N'mahmood@gmail.com123', N'Active', 2, N'IT Admin', N'INSERTED', N'11/02/2019 13:55:12')
INSERT [dbo].[Users] ([Id], [Name], [Email], [Password], [Status], [DesignationId], [ActionBy], [ActionDone], [ActionTime]) VALUES (3, N'Saiful', N'saif@gmail.com', N'saif@gmail.com123', N'Active', 3, N'IT Admin', N'INSERTED', N'11/02/2019 13:55:27')
SET IDENTITY_INSERT [dbo].[Users] OFF
/****** Object:  Index [IX_ActionBy]    Script Date: 23/02/2019 11:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ActionBy] ON [dbo].[AssignUsers]
(
	[ActionBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectId]    Script Date: 23/02/2019 11:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ProjectId] ON [dbo].[AssignUsers]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserId]    Script Date: 23/02/2019 11:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AssignUsers]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActionById]    Script Date: 23/02/2019 11:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ActionById] ON [dbo].[Comments]
(
	[ActionById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectId]    Script Date: 23/02/2019 11:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ProjectId] ON [dbo].[Comments]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskId]    Script Date: 23/02/2019 11:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_TaskId] ON [dbo].[Comments]
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActionBy]    Script Date: 23/02/2019 11:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ActionBy] ON [dbo].[FileUrls]
(
	[ActionBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectId]    Script Date: 23/02/2019 11:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ProjectId] ON [dbo].[FileUrls]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ActionBy]    Script Date: 23/02/2019 11:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ActionBy] ON [dbo].[ProjectDetails]
(
	[ActionBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignedById]    Script Date: 23/02/2019 11:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_AssignedById] ON [dbo].[Tasks]
(
	[AssignedById] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_AssignedToId]    Script Date: 23/02/2019 11:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_AssignedToId] ON [dbo].[Tasks]
(
	[AssignedToId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProjectId]    Script Date: 23/02/2019 11:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_ProjectId] ON [dbo].[Tasks]
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DesignationId]    Script Date: 23/02/2019 11:39:32 ******/
CREATE NONCLUSTERED INDEX [IX_DesignationId] ON [dbo].[Users]
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AssignUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssignUsers_dbo.ProjectDetails_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[ProjectDetails] ([Id])
GO
ALTER TABLE [dbo].[AssignUsers] CHECK CONSTRAINT [FK_dbo.AssignUsers_dbo.ProjectDetails_ProjectId]
GO
ALTER TABLE [dbo].[AssignUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssignUsers_dbo.Users_ActionBy] FOREIGN KEY([ActionBy])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AssignUsers] CHECK CONSTRAINT [FK_dbo.AssignUsers_dbo.Users_ActionBy]
GO
ALTER TABLE [dbo].[AssignUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssignUsers_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[AssignUsers] CHECK CONSTRAINT [FK_dbo.AssignUsers_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.ProjectDetails_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[ProjectDetails] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.ProjectDetails_ProjectId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Tasks_TaskId] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Tasks] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Tasks_TaskId]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Comments_dbo.Users_ActionById] FOREIGN KEY([ActionById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_dbo.Comments_dbo.Users_ActionById]
GO
ALTER TABLE [dbo].[FileUrls]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FileUrls_dbo.ProjectDetails_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[ProjectDetails] ([Id])
GO
ALTER TABLE [dbo].[FileUrls] CHECK CONSTRAINT [FK_dbo.FileUrls_dbo.ProjectDetails_ProjectId]
GO
ALTER TABLE [dbo].[FileUrls]  WITH CHECK ADD  CONSTRAINT [FK_dbo.FileUrls_dbo.Users_ActionBy] FOREIGN KEY([ActionBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[FileUrls] CHECK CONSTRAINT [FK_dbo.FileUrls_dbo.Users_ActionBy]
GO
ALTER TABLE [dbo].[ProjectDetails]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ProjectDetails_dbo.Users_ActionBy] FOREIGN KEY([ActionBy])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[ProjectDetails] CHECK CONSTRAINT [FK_dbo.ProjectDetails_dbo.Users_ActionBy]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tasks_dbo.ProjectDetails_ProjectId] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[ProjectDetails] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_dbo.Tasks_dbo.ProjectDetails_ProjectId]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tasks_dbo.Users_AssignedById] FOREIGN KEY([AssignedById])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_dbo.Tasks_dbo.Users_AssignedById]
GO
ALTER TABLE [dbo].[Tasks]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Tasks_dbo.Users_AssignedToId] FOREIGN KEY([AssignedToId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Tasks] CHECK CONSTRAINT [FK_dbo.Tasks_dbo.Users_AssignedToId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Designations_DesignationId] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[Designations] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Designations_DesignationId]
GO
USE [master]
GO
