@model SoftwareProjectManagementSystemWebApp.Models.User

@{
    ViewBag.Title = "ResetPassword";
}

<h2>@ViewBag.Message</h2>

<script>
    window.onload = function() {
        alert('@ViewBag.Message');

        window.location = '/User/ViewAllUsers';
    }
</script>



